body {
    background-color: #fff7e4;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: #f7cf74;
    font-size: large;
}

h3 {
    font-size: x-large;
    font-style: italic;
    color: #6d8dc6;
}

ul {
    list-style-type: none;
}

.nombre {
    display: inline;
    font-style: italic;
    color: #546c97;
}

.resultado {
    display: inline;
}

.cabecera {
    font-weight: bold;
    color: #546c97;
}